<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANnwr4sWvouVU9IxUp5IuEL_omdImdD7k</string>
	<key>GCM_SENDER_ID</key>
	<string>615213173972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapsTask</string>
	<key>PROJECT_ID</key>
	<string>woven-rush-413614</string>
	<key>STORAGE_BUCKET</key>
	<string>woven-rush-413614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615213173972:ios:8314489e451b8c71e2ff41</string>
</dict>
</plist>